$white: #fff;
$basic-100: #E1E3E6;
$basic-300: #C0C1C6;
$basic-600: #838487;
$basic-700: #5A5A5C;
$basic-750: #434446;
$basic-800: #343536;
$basic-825: #2A2A2B;
$basic-850: #252526;
$basic-875: #1D1D1E;
$basic-900: #101011;

$blue-400: #3870FF;
$blue-500: #2260FF;
$blue-600: #104CE9;

$red-500: #FF4D8D;

$green-500: #2CDD9D;