@import '../../../styles/variables.scss';

.loader{
    display: flex;
    gap: 10px;
}

.dotLoader {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $white;
    position: relative;
    -webkit-animation: 1.2s grow ease-in-out infinite;
    animation: 1.2s grow ease-in-out infinite;
}

.dotLoader:nth-child(2) {
    -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
    animation: 1.2s grow ease-in-out infinite 0.15555s;
}
.dotLoader:last-child {
    -webkit-animation: 1.2s grow ease-in-out infinite 0.5s;
    animation: 1.2s grow ease-in-out infinite 0.5s;
}

@keyframes grow {
    0%, 40%, 100% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
    }
    40% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}