@import '../../../styles/variables.scss';

.title{
    max-width: 96px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: $basic-600;
}

.sidebarVariant{
    width: 100%;
}

.info{
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: $basic-100;
}